# macos files
.DS_Store

# python files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# environment variables
.env

# virtual environment
.venv/

# project files
/data/
/src/knowledgebase/

# git files
.git
.gitignore

# docker files
.dockerignore
docker-compose.yaml
Dockerfile
